
#root {
 
    margin: 0 auto;
    text-align: center;
}

body {
    background-color: white;
    margin: 0;
    display: flex;
    place-items: flex-start;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    background-color: grey;
    padding: 10px;
    margin: 15px;
    display:flex;
    justify-content:flex-end;
}



h2 {
    color: dimgrey;
    font-size: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

nav {
    display: flex;
    border: 2px solid;
    border-radius: 20px;
    justify-content: space-evenly;
    background-color: grey;
    margin-bottom: 1rem;

}

.nav-text {
    font-size: max(1.5vw,1px);
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
}

.art-card {
    display: flex;
    margin: 2rem;
    flex-direction: column;
    border: 2px solid grey;
    margin-bottom: 0;
    background-color: white;
    color: rgb(0, 0, 0);
    max-height: 25vw;
    max-width: 15vw;
    min-height: 500px;
    min-width: 300px;
    border-radius: 5px;
    color: grey;
    box-shadow: 5px 10px 20px black;
}


.art-img {

    width: 70%;
    height: 70%;
    margin: auto;
    border: 5px solid black;
    margin-top: 1rem;
    margin-bottom: 0.1rem;
}

.browseCards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    column-gap: 10px;
    margin-top: 5px;
    margin-bottom: 4rem;
}

.artCardText {
    color: grey;
    margin: auto;
    font-size: 0.8rem;
    margin-top: 0.1rem;
    margin-bottom: 1rem;
}

.loading-screen {
    padding: 20px;
    color: grey;
    font-size: 2em;
}

.single-art-header{
    margin-left:0.3rem;
    margin-right:0.3rem;
}

.single-art-card {
    display: flex;
    margin: 2rem;
    flex-direction: column;
    border: 2px solid grey;
    margin-bottom: 0;
    background-color: white;
    color: rgb(0, 0, 0);
    max-height: 40vw;
    max-width: 60vw;
    min-height: 500px;
    min-width: 300px;
    border-radius: 5px;
    color: grey;
    box-shadow: 5px 10px 20px black;
}

.single-art-title {
    margin-bottom:0.5rem;
}

.single-art-img {
    width: 60%;
    height: 60%;
    margin: auto;
    
    margin-top: 0.5rem;
    margin-bottom: 0.1rem;

}

.single-art-displayName{
    margin-top:0.3rem;
    margin-bottom: 0.001rem;

}

.single-art-body{
    font-size: 0.7rem;
    margin-right: 0.5rem;
}

.single-art-body2 {
    font-size: 0.7rem;
    margin-left: 0.5rem;
}

.single-art-body-whole {
    display: flex;
    margin: auto;
    flex-direction: row;
}


.mainContents-portrait {
    margin-top: 0.005rem;
    display: flex;
    
    flex-direction: row;
}

.img-portrait {
    width: 35%;
    height: 35%;
    margin-left: 3rem;
    margin-top: -5rem;

}

.displayName-portrait{
    margin-top:0rem;
    margin-left: 8rem;
    width: 10rem;
    font-size:1.2rem;
}

.header-portrait{
    display:flex;
    margin-right:6rem;
    justify-content: right;
    font-size:2rem;
}



.body-portrait {
    display: flex;
    margin: auto;
    flex-direction: column;
    
}

.text-portrait{
    margin-right: 2.5rem;
}

.body-text-portrait{
    font-size:1rem;
    
}

.body-text-portrait2 {
    font-size: 1rem;
}

