
#root {
 
    margin: 0 auto;
    text-align: center;
}

body {
    background-color: white;
    margin: 0;
    display: flex;
    place-items: flex-start;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    background-color: grey;
    padding: 10px;
    margin: 15px;
    display:flex;
    justify-content:flex-end;
}
min-height: 100vh;
{}

nav {
    display: flex;
    border: 2px solid rgb(195, 132, 255);
    border-radius: 20px;
    justify-content: space-evenly;
    background-color: rgb(195, 132, 255);
}





