
#root {
 
    margin: 0 auto;
    text-align: center;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; 
}
body {
    background-color: white;
    margin: 0;
    display: flex;
    place-items: flex-start;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: calc(1rem + 1vw); 
    background-color: grey;
    padding: 10px;
    margin: 15px;
    display: flex;
    justify-content: flex-end;
    width: 95vw;
    min-height: 50px; 
    align-items: center;
}


h2 {
    color: dimgrey;
    font-size: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
   
}

nav {
    display: flex;
    border: 2px solid grey;
    border-radius: 20px;
    justify-content: space-evenly;
    background-color: grey;
    margin: 0 auto 2rem auto;
    width: 90vw;
    min-height: 20px;
    align-items: center;
    padding: 0.5rem; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.nav-text {
    font-size: clamp(1rem, 1.5vw, 2rem);
    text-decoration: none;
    color: white !important;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
}

.art-card {
    display: flex;
    margin: 2rem;
    flex-direction: column;
    border: 2px solid grey;
    margin-bottom: 0;
    background-color: white;
    color: grey;
    max-height: 25vw;
    max-width: 15vw;
    min-height: 500px;
    min-width: 300px;
    border-radius: 5px;
    box-shadow: 5px 10px 20px black;
}

.art-img-container {
    width: 80%;
    max-width: 500px;
    height: 35vh;
    overflow: hidden;
    position: relative;
    margin: 1rem auto;
    border: 5px solid black;
    background-color: white;
}

.art-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 100%;
    min-width: 100%;
    object-fit: cover;
}

.browseCards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    column-gap: 10px;
    margin-top: 5px;
    margin-bottom: 4rem;
    justify-items: center;
}

@media (max-width: 1200px) {
    .browseCards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .browseCards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .browseCards {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}

.artCardText {
    color: grey;
    font-size: 0.8rem;
    margin: 0.1rem auto 1rem auto;
}

.loading-screen {
    padding: 20px;
    color: grey;
    font-size: 2em;
    text-align: center;
}

.single-art-header {
    margin: 0.3rem;
}

.single-art-card {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 2px solid grey;
    background-color: white;
    color: grey;
    max-height: 60vw;
    max-width: 70vw;
    min-height: 500px;
    min-width: 300px;
    border-radius: 5px;
    box-shadow: 5px 10px 20px black;
    overflow: hidden;
}

.single-art-title {
    margin-bottom: 0.5rem;
}

.single-art-img {
    height: 25vw;
    width: auto;
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.1rem;
    object-fit: cover;
}

.single-art-displayName {
    margin-top: 0.3rem;
    margin-bottom: 0.001rem;
}

.single-art-body, .single-art-body2 {
    font-size: 0.7rem;
    margin: 0 0.5rem;
    text-align: center;
}

.single-art-body-whole {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 100%;
    width: fit-content;
    margin-bottom: 1rem;
}

@media (max-width: 700px) {
    .single-art-body-whole {
        flex-direction: column;
        align-items: flex-start;
    }
    
}

.mainContents-portrait {
    margin-top: 0.005rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.img-portrait {
    width: 27%;
    height: auto;
    margin-left: 3rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.displayName-portrait {
    font-size: 1.2vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-bottom: 3vw;
    padding-right: 4rem;
}

.header-portrait {
    display: flex;
    justify-content: center;
    font-size: 1.3vw;
}

.body-portrait {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 4rem;
}

.portrait-single-addto-button {
    margin-top: 4vw;
    margin-right: 4rem;
}

.single-addto-button {
    margin-bottom: 1vw;
}

.text-portrait {
    margin-right: 2.5vw;
    text-align: center;
}

.body-text-portrait, .body-text-portrait2 {
    font-size: 1vw;
    margin-bottom: 0.2vw;
    margin-left: 0.1vw;
}

@media (max-width: 900px) {
    .mainContents-portrait {
        flex-direction: column;
        align-items: center;
    }

    .portrait-single-addto-button {
        margin-left: 10vw;
    }

    .single-art-card {
        min-height: 650px;
    }

    .body-text-portrait, .body-text-portrait2 {
        margin-left: 8vw;
    }

    .img-portrait {
        width: 35%;
        margin-left: 0;
        margin-top: 1rem;
        margin-right: 0;
        margin-bottom: 1vw;
    }

    .single-art-header {
        font-size: 2vw;
    }

    .displayName-portrait {
        margin-left: 0.5rem;
        width: 100%;
        font-size: 1.7vw;
        text-align: center;
        margin-bottom: 1vw;
    }

    .header-portrait {
        margin-right: 0;
        justify-content: center;
        font-size: 2vw;
    }

    .text-portrait {
        text-align: center;
    }

    .body-text-portrait, .body-text-portrait2 {
        font-size: 1.2vw;
        text-align: center;
    }
}

@media (max-width: 700px) {
    .mainContents-portrait, .single-art-mainContents {
        flex-direction: column;
        align-items: center;
    }

    .portrait-single-addto-button {
        margin-left: 10vw;
    }

    .single-art-card {
        min-height: 650px;
        max-height: 1000px;
       
    }

    .body-text-portrait, .body-text-portrait2 {
        margin-left: 8vw;
    }

    .single-art-body, .single-art-body2{
        margin-left:3vw;
        font-size: 3vw;
        width: 90%
    }

    .art-link{
        width: 90%;
        font-size: 2vw;
    }

    .img-portrait {
        width: 50%;
        margin-left: 0;
        margin-top: 1rem;
        margin-right: 0;
        margin-bottom: 1vw;
    }

    .single-art-header {
        font-size: 2.5vw;
    }

    .displayName-portrait, .single-art-displayName {
      
        width: 100%;
        font-size: 1.7vw;
        text-align: center;
        margin-bottom: 1vw;
    }

    .header-portrait {
        margin-right: 0;
        justify-content: center;
        font-size: 2vw;
    }

    .text-portrait {
        text-align: center;
    }

    .body-text-portrait, .body-text-portrait2 {
        font-size: 1.2vw;
        text-align: center;
    }
}



@media (max-width: 550px) {
    .mainContents-portrait, .single-art-mainContents {
        flex-direction: column;
        align-items: center;
    }

    .carousel {
        width: 50vw;
        height: 50vw;
    }

    .portrait-single-addto-button{
        margin-left: 16vw;
    }

    .single-art-card {
        min-height: 700px;
    }

    .body-text-portrait, .body-text-portrait2 {
        margin-left: 14vw;
    }

    .single-art-img {
        width: 70%;
        margin-left: 0;
        margin-top: 1rem;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .img-portrait{
        width: 60%;
        margin-left: 0;
        margin-top: 1rem;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .single-art-header {
        font-size: 3vw;
    }


    .displayName-portrait, .single-art-displayName {
        margin-left: 0.5rem;
        width: 100%;
        font-size: 3vw;
        text-align: center;
        margin-bottom: 1rem;
    }

    .header-portrait {
        margin-right: 0;
        justify-content: center;
        font-size: 3vw;
    }

    .text-portrait {
        text-align: center;
    }

    .body-text-portrait, .body-text-portrait2{
        font-size: 2vw;
        text-align: center;
        margin-bottom: 0.5rem;
    }
}




.search-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}


#search-bar {
    padding: 0.5rem;
    margin-right: 0.5rem;
    margin-left: 1rem;
    border: 1px solid grey;
    border-radius: 5px;
    flex: 1; 
}


#search-button {
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

  
    #search-button:hover {
        background-color: #218838;
    }


.dropdown-button-group .btn-success {
    padding: 0.5rem 1rem;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

    
    .dropdown-button-group .btn-success:hover {
        background-color: #218838;
    }

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 3rem;
    margin-top: 1rem;
}

#dropdown-basic-button {
    background-color: black;
    position: relative; 
    border: none;
    margin-right:1rem;
}

.carousel-Button, .viewAll-Button,
#dropdown-basic-button2 {
    width: 6rem;
    height: auto;
    
    background-color: black;
    color: white;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}


.dropdown-menu {
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}


.dropdown-item {
    padding: 0.5rem 1rem;
    color: grey;
    cursor: pointer;
}

    
    .dropdown-item:hover {
        background-color: #f8f9fa;
    }


.dropdown-menu > .dropdown-item:active {
    background-color: #e9ecef;
    color: black;
}


#search-bar:focus,
#search-button:focus,
.dropdown-item:focus {
    outline: 2px solid #28a745; 
}
   .carousel {
        
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50vw;
        height: 35vw;
        filter: drop-shadow(0px 0px 5px #555);
        margin: 0 auto;
        padding-top: 3rem;
    }
.carousel2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 50vw;
    height: 35vw;
    filter: drop-shadow(0px 0px 5px #555);
    padding-top: 0.5rem;
}

.carouselContents {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: auto;
    width: 100%; 
    height: 100%; 
}

.slide {
    border-radius: 0.5rem;
    box-shadow: 0px 0px 7px #666; 
    width: 100%;
    height: auto; 
    max-height: 40vw;
}

.slide2 {
    border-radius: 0.5rem;
    box-shadow: 0px 0px 7px #666;
    width: 80%;
    height: auto;
    max-height: 40vw;
    margin-bottom: 2rem;
}

.slide-hidden {
    display: none;
}

.slideP, .slideHeader {
    color: dimgrey;
    margin-right: 1rem; 
}


.slideP-hidden, .slideHeader-hidden {
    display: none;
}

.text-container {
    display: flex;
    flex-direction: column; 
    width: 40%;
    margin-right: 1rem; 
}

.text-container-hidden{
    display: none;
}
    .arrow {
        position: absolute;
        width: 2vw;
        height: 2vw;
        color: white;
        filter: drop-shadow(0px 0px 5px #808080)
    }

        .arrow:hover {
            cursor: pointer;
        }

    .arrow-left {
        left: -3rem;
    }

    .arrow-right {
        right: -3rem;
    }

    .indicators {
        position: absolute;
        height: 5vw;
        bottom: -6rem;

    }

    .indicator {
        background-color: white;
        border-radius: 100%;
        border: none;
        outline: none;
        box-shadow: 0px 0px 2px #000000;
        margin: 0 0.4rem;
        padding: 0;
        cursor: pointer;
        height: 1vw;
        width: 1vw;

    }

.indicators2 {
    position: absolute;
    height: 5vw;
    bottom: -13rem;
   margin-right: 2rem;
}

.indicator2 {
    background-color: white;
    border-radius: 100%;
    border: none;
    outline: none;
    box-shadow: 0px 0px 2px #000000;
    margin: 0 0.4rem;
    padding: 0;
    cursor: pointer;
    height: 1vw;
    width: 1vw;
}

    .indicator-inactive {
        background-color: grey;
    }




@media (max-width: 600px) {
    .carousel, .carousel2 {
        width: 100%;
        max-width: 90vw;
        height: 90vw;
        padding-top: 1rem;
    }

    .arrow {
        width: 1.5rem;
        height: 1.5rem;
        bottom: 13.5rem;
    }
    .arrow-left {
        left: 1rem;
    }

    .arrow-right {
        right: 1rem;
    }

    .indicator, .indicator2 {
        height: 10px;
        width: 10px;
    }

   
    .carousel-Button, .viewAll-Button,
    #dropdown-basic-button2 {
        width: 5rem;
        height: auto;
        align-items: center;
        font-size: 0.7rem;
        padding: 0.3rem 1rem;
    }
    .slide {
        border-radius: 0.5rem;
        box-shadow: 0px 0px 7px #666;
        width: 100%;
        height: auto;
        max-height: 80vw;
    }

    .slide2 {
        border-radius: 0.5rem;
        box-shadow: 0px 0px 7px #666;
        width: 100%;
        height: auto;
        max-height: 80vw;
    }

}

